[user]
	name = dax
	email = dax26d@gmail.com
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[url "https://"]
	insteadof = git://
[color]
	ui = true
[https]
	proxy = socks5://127.0.0.1:1081
[http]
	proxy = http://127.0.0.1:8001
[init]
	defaultBranch = main
[merge]
	tool = opendiff
[mergetool]
	KeepBackup = false
[diff]
	tool = opendiff

